<% if @feed_items.any? %>
	<h3>Recent Patent Listings</h3>
	<ol class="microposts">
		<%= render partial: 'feed_item', collection: @feed_items %>
	</ol>
	<p id="loading">Loading...</p>
<% end %>