<% if @feed_items.any? %>
	<h3>Recent Patent Listings</h3>
	<ol class="microposts">
		<%= render partial: 'feed_item', collection: @feed_items %>
	</ol>
	<%= will_paginate @feed_items %>
<% end %>