<% provide(:title, 'About Us') %>
	<div class="barney">
		<div class="trouble">
  	<h1>About Us</h1>
	<p>
	  This is the platform Patket, provided by RushingFitness. Create, buy, and sell patents to others to make money and get new products our to the public by using our marketplace.
	</p>
</div>
</div>