<% provide(:title, 'Contact') %>
	<div class="barney">
		<div class="trouble">
  	<h1>Contact</h1>
	<p> If you have question, please check the help and FAQ pages before you email us. If your question can't be answered with either page contact the Patentflip admin at: admin@Patentflip.com
	</p>
</div>
</div>