					<div class="row">
					<div class="span10 offset1">
					<div class="barney">
					<div class="trouble">
				<h1>Patket FAQ's:</h1></div></div></div></div>
					<div class="row">
					<div class="span8 offset2">
					<div class="barney">
					<div class="trouble">
</br>
						<u>3. What Is Patentflip?</u></br>
						<blockquote>Patentflip is a platform bringing together those who have ideas/patents they want to make money on and get out to the public, along with buyers who have the means for production of your product. Finally coupled with patent lawyers (P.L.) who have the ability to patent your ideas.</blockquote></div></div></div></div>
					<div class="row">
					<div class="span8 offset2">
					<div class="barney">
					<div class="trouble">
						
</br>
						<u>4. Why Was Patentflip Created?</u></br>
						<blockquote>We were tired of there not being a platform for the average hard working person to be able to truly get their brilliant ideas out to the public. People can patent their ideas, but most patents in essence sit on the "shelf" and never get turned into anything. We wanted to change that</blockquote></div></div></div></div>
					<div class="row">
					<div class="span8 offset2">
					<div class="barney">
					<div class="trouble">
						
</br>
						<u>5. What If I Don't Have The Capital To File A Patent?</u></br>
					  <blockquote>You gotta spend money to make money, right? Well if you are just dead broke, consider either filing instead for a provisional patent, or just save up some money (smarter route, worth much more)</blockquote></div></div></div></div>

					<div class="row">
					<div class="span8 offset2">
					<div class="barney">
					<div class="trouble">
</br>
						
						<u>6. What if I don't have the money, but don't want to have to go through the trouble of getting funding through a website like Kickstarter, but want to get my idea sold?</u></br>
						<blockquote>Your best bet then is to get a P.L. on Patentflip to get your idea made into a provisional patent. It costs much less, but is also therefore worth a lot less. You can then sell the provisional patent on the Marketplace.</blockquote></b></div></div></div></div>

	