	<div class="barney">
		<div class="trouble">
		<div class="row">
			<div class="span8 offset2">
				<h1>Inception FAQ's:</h1>
						<b><u>1. What Is The Meaning To Life?</u></br>
						<blockquote>42</blockquote>
						
						<u>2. How Many DBZ Characters Does It Take To Screw In A Light Bulb?</u></br>
						<blockquote>1. But It Would Take 42 Episodes to complete.</blockquote>
						
						<u>3. What Is Inception?</u></br>
						<blockquote>Inception is a platform bringing together those who have ideas/patents they want to make money on and get out to the public, along with buyers who have the means for production of your product. Finally coupled with patent lawyers (P.L.) who have the ability to patent your ideas.</blockquote>
						
						<u>4. Why Was Inception Created?</u></br>
						<blockquote>We were tired of there not being a platform for the average hard working person to be able to truly get their brilliant ideas out to the public. People can patent their ideas, but most patents in essence sit on the "shelf" and never get turned into anything. We wanted to change that</blockquote>
						
						<u>5. What If I Don't Have The Capital To File A Patent?</u></br>
					  <blockquote>You gotta spend money to make money, right? Well not as much in today's day in age with amazing new platforms out there. Our favorite is <a href="http://kickstarer.com" target="_blank">Kickstarter</a>. It's a new age platform where you can put your idea out to the public and get funding for it. It's fantastic to see how society view your product idea to see if it's feasible. Once you have the cash, come back to Inception and use one of the patent lawyers using our site and get your idea officially patented and then sold to a buyer!</blockquote>
						
						<u>6. What if I don't have the money, but don't want to have to go through the trouble of getting funding through a website like Kickstarter, but want to get my idea sold?</u></br>
						<blockquote>Your best bet then is to get a P.L. on Inception to get your idea made into a provisional patent. It costs much less, but is also therefore worth a lot less. You can then sell the provisional patent on the Marketplace.</blockquote></b>
					</br></br></br></br></br>
			</div>
		</div>
	</div>
</div>