<% provide(:title, 'Help') %>
	<div class="barney">
		<div class="trouble">
	<p>

	 <h1><%="                "%>What is Inception?</h1></br>
	 		<div class="row">
			<div class="span7 offset1">
	 <h3>Inception is about thinking like a kid again.</h3><blockquote><h4><b>Imagining amazing ideas to help better humanity. Most people think of amazing ideas but don't have a resource or the knowledge to get the idea to production.</b></h4></blockquote>
	 	</div>
		</div></br>
	<div class="row">
	<div class="span7 offset4">
	<h3>Inception is a platform for such people.</h3><blockquote><h4><b> Never before has there been the ability for people with ideas to bring them to a market with buyers who are looking for your patents.</b></h4></blockquote>
		</div>
	</div></br>
	<div class="row">
	<div class="span7 offset1">
	<h3>If you already have your idea patented, </h3><blockquote><h4><b>awesome your labor has almost been realized. Go ahead and put it up on the market, make sure you have a killer description, amazing photos, and a video that brings attention to why your product is different and better than anything else out there.</b></h4></blockquote>
		</div>
	</div></br>
	<div class="row">
	<div class="span7 offset4">
	<h3>If you haven't filed a patent yet, </h3><blockquote><h4><b>follow our simple guide to filing. You can also seek assistance from one of the many patents lawyers on here for a small fee negotiated between you two. After you have everything worked out, shop for a patent lawyer and find the best price for a lawyer who will help you get it filed without the hassles and annoyances.</b></h4></blockquote>
		</div>
	</div></br>
		<div class="row">
	<div class="span7 offset1">
	<h3>After you have your patent filed, </h3><blockquote><h4><b>you can go to the market and put your patent up for auction. Those buyers then have the option to fight for the amount of money they are willing to spend for either a license or buying out right.</b></h4></blockquote>
		</div>
	</div></br>
	<div class="row">
	<div class="span7 offset4">
	<h3>Our ideas deserve to be felt and experienced</h3><blockquote><h4><b>by other humans, let Inception help you get it out to those who have that ability. If you have any further questions, be sure to check out our FAQ page.</b></h4></blockquote>
		</div>
	</div>

	</p>
</div>
</div>