<% unless signed_in? %>
	<div class="barney">
		<div class="trouble">
		<img src="/assets/easelly_visual_top.jpg" alt="smiley face" height="967.76" width="1255" border="0">
		<img src="/assets/easelly_visual_bot.jpg" alt="smiley face" height="967.76" width="1255" border="0">
			</div>
		</div> </br></br></br>

	<div class="span12">
					<%= link_to "Sign up as a Lawyer", signup_path, class: "btn btn-large btn-primary", id: "sign_btn1"%>
					<%= link_to "Sign up as a buyer", signup_path, class: "btn btn-large btn-primary", id: "sign_btn2"%>
					<%= link_to "Sign up as a seller", signup_path, class: "btn btn-large btn-primary", id: "sign_btn3"%>
				</div></br></br></br></br></br></br>
<% else %>
	<p>
		<meta HTTP-EQUIV="REFRESH" content="0; url=http://mydea.herokuapp.com/users">
	</p>
<% end %>
