<div class="center hero-unit">
<h1>Welcome to Buydea</h1>
<h2>
This is the future home page for the Buydea Website!
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<p> Crab People! Crab People! Crab People! Crab People!
Crab People! Crab People! Crab People! Crab People! </br>
Crab People! Crab People! Crab People! Crab People!
Crab People! Crab People! Crab People! Crab People! </br>
Crab People! Crab People! Crab People! Crab People! 
Crab People! Crab People! Crab People! Crab People! </br>
Crab People! Crab People! Crab People! Crab People!
Crab People! Crab People! Crab People! Crab People! </br>
Crab People! Crab People! Crab People! Crab People! 
Crab People! Crab People! Crab People! Crab People! </br>
Crab People! Crab People! Crab People! Crab People! 
Crab People! Crab People! Crab People! Crab People!</p>