<% if signed_in? %>
	<div class="barney">
		<div class="trouble">
			<div class="row">
				<aside class="span5">
					<section>
						<%= render 'shared/user_info' %>
					</section>
					<div class="bordes"></div>
					<section>
						<%= render 'shared/micropost_form' %>
					</section>
				</aside>
				<div class="span8">
					<%= render 'feeds' %>
				</div>
			</div>
	</div>
</div> 
<% else %>
	<div class="barney">
		<div class="trouble">
			<div id="this-carousel-id" class="carousel slide">
			<ol class="carousel-indicators">
  			<li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
  			<li data-target="#this-carousel-id" data-slide-to="1"></li>
  			<li data-target="#this-carousel-id" data-slide-to="2"></li>
  			<li data-target="#this-carousel-id" data-slide-to="3"></li>
			</ol>
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="/assets/idea.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Everyone has ideas...but not everyone knows how to protect or sell them and get a large profit.</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/office.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>She's a hot blonde right? Good now use our site to sell your shit and make a lot of money with us!</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/308568_589522887735393_66814455_n.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>This is the moon in full eclipse mode so you can use the site. Now go child and use it while the moon is holding off the sun!.</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/legal.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Legal shit...now use the site!</p>
		      </div>
		    </div>
		  </div>
	    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div> 
<%= render partial: 'image' %>
</br></br></br>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/jquery-ui-1.10.3.custom.min.js"><\/script>')</script>

<script src="/assets/bootstrapmin.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
    	interval: 8000
    });
  });
</script>
<% end %>