
<p>
	<img src="/assets/easelly_visual_top.jpg" alt="smiley face" height="967.76" width="1255" border="0">
	<img src="/assets/easelly_visual_bot.jpg" alt="smiley face" height="967.76" width="1255" border="0">
</p>
	<div class="row">
		<div class="span5 offset3">
			<h1><%= link_to "Sign up today! (It's Free)", "signin_path", class: "btn btn-large btn-primary", id: "sign_btn"%>
			</h1>
		</div>
	</div>