<% @auctions.each do |auction| %>
  <li>
    <%= image_tag auction.pic1.url(:tiny), class: "gravatar-pat-index" %>
    <%= link_to auction.title, auction_path(auction.id), id: 'user_index', style: 'color: #000000'%>:</br>
    <%= truncate auction.descrip, length: 150 %></br></br>
  </li>
  <div class="userborder"></div>
<% end %>
</ul>