<% provide(:title, 'Arts') %>
  <div class="outtie">
    <div class="innie">
      <h1>Arts</h1>
      <ul class="users">
        <% @auctions.each do |auction| %>
          <% if auction.category == "arts" %>
          <li>
            <%= link_to( (image_tag auction.pic1.url(:tiny), class: "gravatar-pat-index"), auction_path(auction)) %>
            <%= link_to "#{auction.title}:", auction_path(auction), id: 'user_index', style: 'color: #000000'%></br>
            <%= truncate auction.descrip, length: 150 %></br></br>
          </li>
          <div class="userborder"></div>
          <% else %>
            <h3>No Arts Patents Listed Yet!</h3>
          <% end %>
        <% end %>
      </ul>
      <loading>
        <%= will_paginate %>
      </loading>
    </div>
  </div>