<% provide(:title, 'All Patents') %>
  <div class="outtie">
    <div class="innie">
      <h1>All Patents</h1>
      <ul class="users">
        <% if @auctions.any? %>
          <%= render partial: "index" %>
        <% else %>
          <h2> No Patents Posted Just Yet...</h2>
        <% end %>
      </ul>
      <loading>
        <%= will_paginate %>
      </loading>
    </div>
  </div>