<% provide(:title, 'All Patents') %>
  <div class="outtie">
    <div class="innie">
      <h1>All Patents</h1>

      <ul class="users">
        <%= render partial: "index" %>
      <loading>
        <%= will_paginate %>
      </loading>
    </div>
  </div>