<h6>User</h6>
<li>
  <%= link_to((image_tag user.avatar.url(:medium), class: "gravatar", id: "user-grav-list"), user)%>
  <%= link_to user.name, user, id: 'user_index', style: 'color: #00c700' %>
</li>