<<<<<<< HEAD
<% provide(:title, 'All Users') %>
=======
<% provide(:title, 'All users') %>
>>>>>>> 5dfd98770cdc1068ec21ccd5e94eedf6c5af489e
	<div class="outtie">
    <div class="innie">
			<h1>All Users</h1>
      <ul class="users">
        <%= render "userlist" %>
      </ul>
        <loading>
          <%= will_paginate %>
        </loading>
		</div>
	</div>