<% provide(:title, @user.name) %>
	<div class="barney">
		<div class="trouble">
			<div class="row">
				<div class="span4">
					<section>
								<% for grav in @user.grav %>
							<% if grav.content == "" %>
								<%= image_tag('/assets/coolguy.png', alt: "Hi", class: "gravatar", size: "150x150") %>
							<% else %>
								<%= image_tag(grav.content, alt: "Bye", class: "gravatar", size: "150x150") %>
							<% end %>
						<% end %>
						<l1>
							<%= @user.name %>

						</l1>
								<%= link_to "Message User", message_path, class: "btn btn-small btn-primary", id: "sign_btn4"%>
					</section>
				</div>
				<div class="span2"></br></br></br></br>
			
				</div>
			</div>
			</br></br></br></br></br></br></br></br></br></br></br></br>
		</div>
	</div>