<% @filings.reverse.each do |filing| %>
  <li>
    <%= link_to( (image_tag filing.picture.url(:mid), class: "gravatar-pat-index"), filing_path(filing)) %>
  </li>
    <h3><%= link_to "#{filing.filing_title}:", filing_path(filing), style: 'color: #00c700'%></h3>
    <h5><%= truncate filing.job_descrip, length: 150 %></h5>
  <div class="userborder"></div>
<% end %>