<a href="<%= user_path(current_user) %>">
  <%= image_tag @users.avatar.url(:medium), class: "gravatar-home" %>
</a>
<h1></br>
	<%= link_to current_user.name, current_user, class: 'miname' %>
</h1>
<span>
	<%= pluralize(current_user.microposts.count, "micropost") %>
</span>