<footer class="footer">
	<div class="userborder"></div>
	<small>
	  Founded by:
			<a href="http://JordanRushing.com/">Jordan Rushing</a>
	</small>
	<nav>
		<ul>
  		<li><%= link_to "About", about_path %></li>
  		<li><%= link_to "Contact", contact_path %></li>
  		<li><a href="http://facebook.com/jordan.rushing/">News</a></li>
		</ul>
	</nav>
</footer>