<footer class="footer">
	<div class="userborde"></div>
	<small>
	  Founded by:<ul>
			<li><a href="https://JordanRushing.com/">Jordan Rushing</a></li></ul>
	</small>
	<nav>
		<ul>
  		<li><%= link_to "About", about_path %></li>
  		<li><%= link_to "Contact", contact_path %></li>
  		<li><a href="https://facebook.com/patentflip/">News</a></li>
		</ul><br><br>
    <ul>
      <li><%= link_to "Hello", "#" %></li>
    </ul>
	</nav>
</footer>