<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
      <%= link_to "Buydea", root_path, id: "logo" %>
      <nav>
		<ul class="nav pull-right">
		  <li><%= link_to "Home", root_path, id: "home_css" %></li>
		  <li><%= link_to "Help", help_path, id: "help_css" %></li>
		  <li><%= link_to "Sign in", signup_path, id: "sign_css" %></li>
		</ul>
	  </nav>
	</div>
  </div>
</header>