<% if (params[:controller] == 'auctions' && params[:action] == 'show') %>
<ul class="nav nav-list-patent">
	<div class="outtie">
		<div class="innie">
      <ul class="nav nav-list">
        <h3><li class="nav-header">Categories</li></h3>
        <li class="active"><a href="#">Agricultural</a></li>
        <li><a href="#">Apparel</a></li>
        <li><a href="#">Arts</a></li>
        <li><a href="#">Automotive</a></li>
        <li><a href="#">Biological</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Chemical</a></li>
        <li><a href="#">Construction</a></li>
        <li><a href="#">Electronic</a></li>
        <li><a href="#">Environmental</a></li>
        <li><a href="#">Extensions</a></li>
        <li><a href="#">Hardware</a></li>
        <li><a href="#">Machinery</a></li>
        <li><a href="#">Patent Pending</a></li>
        <li><a href="#">Structural</a></li>
        <li><a href="#">Telecomm</a></li>
 				<li class="divider"></li>
        <li><a href="#">International</a></li>
        <li><a href="#">Miscellaneous</a></li>
		  </ul>
    </div>
  </div>
</ul>

<% else %>
	<ul class="nav nav-list">
		<div class="outtie">
      <div class="innie">
        <ul class="nav nav-list">
          <h3><li class="nav-header">Categories</li></h3>
          <li class="active" id="sidebar-list-active"><a href="#">Agricultural</a></li>
          <li><a href="#" id="sidebar-list">Apparel</a></li>
          <li><a href="#" id="sidebar-list">Arts</a></li>
          <li><a href="#" id="sidebar-list">Automotive</a></li>
          <li><a href="#" id="sidebar-list">Biological</a></li>
          <li><a href="#" id="sidebar-list">Business</a></li>
          <li><a href="#" id="sidebar-list">Chemical</a></li>
          <li><a href="#" id="sidebar-list">Construction</a></li>
          <li><a href="#" id="sidebar-list">Electronic</a></li>
          <li><a href="#" id="sidebar-list">Environmental</a></li>
          <li><a href="#" id="sidebar-list">Extensions</a></li>
          <li><a href="#" id="sidebar-list">Hardware</a></li>
          <li><a href="#" id="sidebar-list">Machinery</a></li>
          <li><a href="#" id="sidebar-list">Patent Pending</a></li>
          <li><a href="#" id="sidebar-list">Structural</a></li>
          <li><a href="#" id="sidebar-list">Telecomm</a></li>
          <li class="divider"></li>
          <li><a href="#" id="sidebar-list">International</a></li>
          <li><a href="#" id="sidebar-list">Miscellaneous</a></li>
        </ul>
      </div>
    </div>
  </ul>
<% end %>