<ul class="nav nav-list">
	<div class="outtie">
    <div class="innie">
      <ul class="nav nav-list">
        <h3><li class="nav-header">Categories</li></h3>
        <li class="active" id="sidebar-list-active"><a href="#">Agricultural</a></li>
        <li><a href="#" id="sidebar-list">Apparel</a></li>
        <li><a href="#" id="sidebar-list">Arts</a></li>
        <li><a href="#" id="sidebar-list">Automotive</a></li>
        <li><a href="#" id="sidebar-list">Biological</a></li>
        <li><a href="#" id="sidebar-list">Business</a></li>
        <li><a href="#" id="sidebar-list">Chemical</a></li>
        <li><a href="#" id="sidebar-list">Construction</a></li>
        <li><a href="#" id="sidebar-list">Electronic</a></li>
        <li><a href="#" id="sidebar-list">Environmental</a></li>
        <li><a href="#" id="sidebar-list">Extensions</a></li>
        <li><a href="#" id="sidebar-list">Hardware</a></li>
        <li><a href="#" id="sidebar-list">Machinery</a></li>
        <li><a href="#" id="sidebar-list">Patent Pending</a></li>
        <li><a href="#" id="sidebar-list">Structural</a></li>
        <li><a href="#" id="sidebar-list">Telecomm</a></li>
        <li class="divider"></li>
        <li><a href="#" id="sidebar-list">International</a></li>
        <li><a href="#" id="sidebar-list">Miscellaneous</a></li>
      </ul>
    </div>
  </div>
</ul>